@tailwind base;
@tailwind components;
@tailwind utilities;

.gradientblue {
    background: linear-gradient( rgba(31, 162, 255, 1), rgba(18, 216, 250, 1), rgba(166, 255, 203, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box-shadow_1 {
    box-shadow: -2px -2px 0px 0px rgba(255, 255, 255, 0.18) inset;
}
.box-shadow_2 {
    box-shadow: -2px -2px 0px 0px rgba(255, 255, 255, 0.51) inset;
}
.bluegradient {
    background : linear-gradient(rgba(156, 236, 251, 1), rgba(101, 199, 247, 1), rgba(0, 82, 212, 1));
    border-radius: 992px;
    opacity: 0.4000000059604645;
    background: var(--gradient-03, linear-gradient(138deg, #9CECFB 0%, #65C7F7 50%, #0052D4 100%));
    filter: blur(60px);
    /* top: -50px; */
    /* left : -50px; */
}
.boxshadowwhite {
    box-shadow: 20px 20px 0px 0px #F5F5F5;
    /* display: none; */
}
.boxshadowtimeline {
    box-shadow: 20px 20px 0px 0px #FFF;
}

.homepage_bg {
    background : url("../src/assets/Images/bghome.svg");
  }
  
  .whiteboxshadow {
    box-shadow: 0px 0px 62px 0px rgba(0, 0, 0, 0.12);
  }
  .boxshadowtopleft {
    box-shadow: -20px -20px 0px 0px #FFF;
  }



/* Configuration for loader  */
.loader {
    position: relative;
    width: 120px;
    height: 90px;
    margin: 0 auto;
  }
  
  .loader:before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #2a9d8f;
    animation: loading-bounce 0.5s ease-in-out infinite alternate;
  }
  
  .loader:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 7px;
    width: 45px;
    border-radius: 4px;
    box-shadow: 0 5px 0 #f2f2f2, -35px 50px 0 #f2f2f2, -70px 95px 0 #f2f2f2;
    animation: loading-step 1s ease-in-out infinite;
  }
  
  @keyframes loading-bounce {
    0% {
      transform: scale(1, 0.7);
    }
  
    40% {
      transform: scale(0.8, 1.2);
    }
  
    60% {
      transform: scale(1, 1);
    }
  
    100% {
      bottom: 140px;
    }
  }
  
  @keyframes loading-step {
    0% {
      box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
              0 10px 0 #f2f2f2,
              -35px 50px 0 #f2f2f2,
              -70px 90px 0 #f2f2f2;
    }
  
    100% {
      box-shadow: 0 10px 0 #f2f2f2,
              -35px 50px 0 #f2f2f2,
              -70px 90px 0 #f2f2f2,
              -70px 90px 0 rgba(0, 0, 0, 0);
    }
  }

.form-style {
  @apply rounded-lg bg-richblack-700 p-3 text-[16px] leading-[24px] text-richblack-5 shadow-[0_1px_0_0] shadow-white/50 placeholder:text-richblack-400 focus:outline-none;
}